<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.schabi.terminightor" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlarmItemListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmItemDetailActivity"
            android:label="@string/title_alarmitem_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlarmItemListActivity" />
        </activity>
        <activity
            android:name=".SetTagActivity"
            android:label="@string/title_set_tag" />
        <activity
            android:name=".NightKillerActivity"
            android:title="@string/title_activity_night_killer"
            android:theme="@style/WakeupTheme"/>

        <receiver android:name=".AlarmSetupManager" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.schabi.Terminightor.AlarmSetupManager.ACTION_RENEW_ALARMS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NightKillerReceiver" >
            <intent-filter>
                <action android:name="org.schabi.Terminightor.NightKillerReceiver.ACTION_FIRE_ALARM" />
            </intent-filter>
        </receiver>

        <service android:name=".NightKillerService" >
            <intent-filter>
                <action android:name="org.schabi.Terminightor.NightKillerReceiver.ACTION_KILL_ALARM" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsStyle">
        </activity>
    </application>

</manifest>
